<div class="container-fluid">
  <button class="btn btn-primary" ng-click="init();">Jarvis {{ keyCode }}</button>
  <div id="jarvisModal" class="modal hide fade" data-target="#jarvisModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Jarvis</h3>
    </div>
    <div class="modal-body">
      <p>Hi Master, how can I help you?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary">Speak</button>
    </div>
  </div>
</div>